<!DOCTYPE html>
<html>

<head>
    <title>This is a Login page</title>
    <link rel="stylesheet" href="../public/login.css">

    <script src="../public/toggle.js"></script>
</head>

<body>
    <h1>Please fill the credential!!!</h1>
    <div class="d">
        <form action="/login" method="POST">
            <label>name</label>
            <input type="text" id="name" name="name" autocomplete="off" required>
            <label>password</label>
            <input type="password" id="password" name="password" autocomplete="off" required>
            Show password <input type="checkbox" id="checkbox" onclick="toggle()">
            <br></br>
            <button type="submit" id="btn">Login</button>
            <a id="f" href="/forgot-password">Forgot Password</a>

        </form>
    </div>
</body>

</html>